+++
title = "slamware"
linkTitle = "slamware"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto mt-5 p-3">visualize your poetry slam event</div>
<div class="mx-auto mt-5">
	<a class="btn btn-lg btn-outline-primary mr-3 mb-4" style="color: white; border-radius: 0.2rem; background-color: rgba(156, 62, 180, 0.5);" href="https://app.slamware.de">Direkt zur Webapp <i class="ml-3 fas fa-angle-double-right"></i></a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

Eine Webanwendung, die es ermöglicht Teilnehmer, Wettbewerbe, Gruppen und Wertungen eines Poetry Slam zu verwalten und während
der Veranstaltung auf einem Beamer zu präsentieren.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Keine Installation" %}}
Die Webapp funktioniert auf allen Betriebssystemen. Notwendig ist nur ein Google Chrome
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Open Source und kostenlos" url="https://github.com/opendata-heilbronn/poetryslam" %}}
Die Software wird Open Source entwickelt. Wer mithelfen will ist gerne eingeladen. Fehlermeldungen und Wünsche bitte als
Issue.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Folge und auf Twitter!" url="https://twitter.com/codeforhn/" %}}
Für mehr Projekte und Informationen rund um Code for Heilbronn e.V.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
	<h1 class="text-center">Vergangene Veranstaltungen</h1>
	<p>Bisher wurde die Software auf den folgenden Veranstaltungen eingesetzt </p>
	<ul>
		<li>BWSLAM 16 Heilbronn - 7. Poetry Slam Landesmeisterschaften Baden- Württemberg</li>
		<li><a href="http://www.slam2016.de/">Deutschsprachige Poetry Slam Meisterschaften</a></li>
	</ul>
	<p>
		Fehlt ein/dein Event? Melde dich gerne bei uns auf github, twitter oder per mail an info(at)codeforheilbronn.de
	</p>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
	<h1 class="text-center"></h1>
	<p>
		Titelfoto vom Ländle Slam -
		<a href="https://www.flickr.com/photos/laendleslam/38403478292/">Quelle - Flickr</a>
	</p>
</div>

{{< /blocks/section >}}